#!/bin/bash
# This file is sourced by k3s-install-agent.sh to provide Terraform-injected variables.

export T_K3S_VERSION="${T_K3S_VERSION}"
export T_K3S_TOKEN="${T_K3S_TOKEN}"
export T_K3S_URL_IP="${T_K3S_URL_IP}"
export T_NODE_LABELS="${T_NODE_LABELS}"
export T_NODE_TAINTS="${T_NODE_TAINTS}"
